<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet" />
        <title>RDS Code Generate</title>
        <style>
            html {
                font-family: Poppins, sans-serif;
            }
            h1 {
                font-size: 1rem;
                word-wrap: break-word;
                max-width: 500px;
            }
            button {
                border-radius: 99999px;
                font: inherit;
                background-color: #555555; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
            body {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
                flex-direction: column;
                border: 1px solid rebeccapurple;
            }
        </style>
    </head>
    <body>
        <% if (code) { %>
        <h1 id="codeText"><%= code %></h1>
        <button id="copyButton">Copy Code</button>
        <% } else { %>
        <h1>No code available</h1>
        <% } %>
        <script>
            document
                .getElementById('copyButton')
                .addEventListener('click', function () {
                    var codeText =
                        document.getElementById('codeText').textContent;
                    var tempInput = document.createElement('textarea');
                    tempInput.value = codeText;
                    document.body.appendChild(tempInput);
                    tempInput.select();
                    document.execCommand('copy');
                    document.body.removeChild(tempInput);
                    alert('Code copied to clipboard, thank you!!');
                });
        </script>
    </body>
</html>
